.cartao {
  width: 100%;
  max-width: 99999px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.cartao-cabeca {
  background-color: #f5f5f560;
  padding: 16px;
  font-weight: bold;
  text-align: center;
}

.cartao-conteudo {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0 16px;
  transition: all 1s ease;
}

.cartao.ativo .cartao-conteudo {
  max-height: 9999px; /* ajuste conforme o conteúdo */
  opacity: 1;
  padding: 16px;
}
